$primary: #FFF;

navbar {
  display: block;
  background-color: $primary;

  width: 100%;
  position: fixed;
  z-index: 1;
}

section {
  width: 100%;

  background-repeat: round;
  background-size: 100%;

  padding-top: 7rem;

  .title {
    font-size: 4rem;
    color: $primary;
  }

  .subtitle {
    font-size: 2.5rem;
    color: $primary;
  }
}