<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <img src="assets/images/jonathasdantas.jpg" alt="Jonathas Dantas">
    </div>
    <div class="content">
      <h1>
        About
      </h1>
      <p>
        Hi there! My name is Jonathas Dantas and I love to develop and study Web stuff. You can call me also a Software Developer Engineer! I'm from the north east of Brazil.
      </p>
      <p>
        My skill set is broad, and I welcome any challenge that is presented to me. With a mindset that I will never stop learning, my current focus is to keep increasing my knowledge into the Javascript, Java and Ruby stack.
      </p>
      <p>
        On my spare times, I'm glad to work on my side projects and practice coding problems to further my skills so that I can apply these to other projects. One such project that I have just started, I will write some articles on my blog.
      </p>
      <p>
        Currently, my day job is as a full-time Software Developer Engineer and as Team Leader at Court of Justice of Pernambuco's State in Recife in the Brazil. Here I lead a small team of 6 members keeping my hands on coding most of the time while I mentor junior developers. 
      </p>
      <h3>
        Skills
      </h3>
      <div class="columns">
        <div class="column">
          <ul class="no-bullets skills">
            <li>
              <strong>Java</strong>
              <span class="icons">
                <i class="fa fa-star full"></i>
                <i class="fa fa-star full"></i>
                <i class="fa fa-star full"></i>
                <i class="fa fa-star full"></i>
                <i class="fa fa-star full"></i>
              </span>
            </li>
            <li>
              <strong>Ruby</strong>
              <span class="icons">
                <i class="fa fa-star full"></i>
                <i class="fa fa-star full"></i>
                <i class="fa fa-star full"></i>
                <i class="fa fa-star full"></i>
                <i class="fa fa-star"></i>
              </span>
            </li>
          </ul>
        </div>
        <div class="column">
          <ul class="no-bullets skills">
            <li>
              <strong>Java</strong>
              <span class="icons">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
            </li>
            <li>
              <strong>Java</strong>
              <span class="icons">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <h3>
        Experiences
      </h3>
      <h4>Education</h4>
      <div class="columns">
        <div class="column">
          <strong>Federal Uniniversity of Pernambuco</strong>
          <p>August 2008 - May 2013</p>
        </div>
        <div class="column">
          <p><strong>Bachelor of Science - Computer Science</strong></p>
          <p>
              Main Courses: Programming Languages, Algorithms and Data Structures, Functional Programming, Intelligent Systems.
          </p>
          <strong>GPA 3.49</strong>
          <p>
            Recife, Brazil
          </p>
        </div>
      </div>
      <hr>
      <h4>Careers</h4>
      <div class="columns">
        <div class="column">
          <strong>Court of Justice of Pernambuco's State</strong>
          <p>January 2017 - Current</p>
        </div>
        <div class="column">
          <strong>Team Leader</strong>
          <ul>
            <li>Playing a team work role  mentoring  every unit member;</li>
            <li>Encouraging the use of good practices like  code reviews  and  pair programming;</li>
            <li>Keeping hands on software engineering, 70% coding.</li>
          </ul>
          <p>
            Recife, Brazil
          </p>
          <div class="tags">
            <span class="tag is-dark is-large">java</span>
            <span class="tag is-dark is-large">angularjs</span>
            <span class="tag is-dark is-large">css3</span>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <strong>Court of Justice of Pernambuco's State</strong>
          <p>August 2012 - Current</p>
        </div>
        <div class="column">
          <strong>Software Developer Engineer</strong>
          <ul>
            <li>Building Governmental projects with high social impact;</li>
            <li>Building  RESTful Web Services  in a distributed environment with a  high amount of requests;</li>
            <li>Modifying existing software to correct errors, upgrade interfaces and improve performance.</li>
          </ul>
          <p>
            Recife, Brazil
          </p>
          <div class="tags">
            <span class="tag is-dark is-large">java</span>
            <span class="tag is-dark is-large">angularjs</span>
            <span class="tag is-dark is-large">css3</span>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <strong>Fast - Technologic Solutions</strong>
          <p>January 2012 - December 2012</p>
        </div>
        <div class="column">
          <strong>Software Developer</strong>
          <ul>
            <li>Built an Event Management System for one of the biggest Private Educational Group of Brazil;</li>
            <li>Built a Mantis integration plugin for Trac, an open source bug tracking system;</li>
            <li>Debugged and modified software components;</li>
          </ul>
          <p>
            Recife, Brazil
          </p>
          <div class="tags">
            <span class="tag is-dark is-large">C#</span>
            <span class="tag is-dark is-large">python</span>
            <span class="tag is-dark is-large">css3</span>
            <span class="tag is-dark is-large">html5</span>
            <span class="tag is-dark is-large">jquery</span>
            <span class="tag is-dark is-large">mysql</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
