$navbar-height: 40px;
$navbar-button-padding: 10px;
$navbar-footer-color: #FFF;

// Footer Menu
nav {
  min-height: $navbar-height;
  margin-bottom: 0;

  li {
    a {
      padding-top: $navbar-button-padding;
      padding-bottom: $navbar-button-padding;

      color: $navbar-footer-color;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

// Footer Size and Background
.footer-wrapper {
  color: $navbar-footer-color;
  background-color: #666;

  min-height: 200px;
}