<div class="container">
<nav class="navbar">
  <div class="navbar-brand">
    <span class="navbar-item" href="#">jonathasdantas<span>{{ getSuffix() }}</span></span>

    <div class="navbar-burger" [ngClass]="{ 'is-active': isOpened() }" (click)="toggle()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" [ngClass]="{ 'is-active': isOpened() }">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/about" routerLinkActive="is-active">
        <span>About</span>
      </a>
      <a class="navbar-item" routerLink="/work" routerLinkActive="is-active">
        <span>Work</span>
      </a>
      <a class="navbar-item" routerLink="/blog" routerLinkActive="is-active">
        <span>Blog</span>
      </a>

      <a class="navbar-item" href="mailto:jonathasdantas@gmail.com?subject=New Challenge">
        <span class="highlight">Hire Me</span>
      </a>
    </div>
  </div>
</nav>
</div>