<section class="section">
    <div class="container">
      <div class="content">
        <h1>
          Work
        </h1>
        <div class="columns">
          <div class="column">
            IMG
          </div>
          <div class="column">
            <h4>PJe Dash</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non sollicitudin lectus. Curabitur id vehicula est, id suscipit elit. In hac habitasse platea dictumst.</p>
            <h5>Client</h5>
            <p>Hackthon</p>
            <h5>Role</h5>
            <p>Frontend, Backend</p>
            <div class="tags">
              <span class="tag is-dark is-large">java</span>
              <span class="tag is-dark is-large">angularjs</span>
              <span class="tag is-dark is-large">css3</span>
            </div>
          </div>
        </div>
        <hr>
        <div class="columns">
          <div class="column">
            IMG
          </div>
          <div class="column">
            <h4>Client</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non sollicitudin lectus. Curabitur id vehicula est, id suscipit elit. In hac habitasse platea dictumst.</p>
            <h5>Client</h5>
            <p>Hackthon</p>
            <h5>Role</h5>
            <p>Frontend, Backend</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  